<?xml version="1.0"?>

<robot name="b2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find b2_description)/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find b2_description)/urdf/b2_description.urdf"/>

    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

</robot>
