[submodule "livox_laser_simulation"]
	path = livox_laser_simulation
	url = https://github.com/stm32f303ret6/livox_laser_simulation_RO2
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/ggory15/livox_ros_driver2
