<?xml version="1.0"?>

<robot name="go2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find go2_description)/urdf/go2_description.urdf"/>
    <xacro:include filename="$(find go2_description)/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro"/>

    <xacro:mid360 name="livox_frame" parent="base" topic="livox/lidar">
        <origin xyz="0.16143 0 0.12262" rpy="0 0.22689 0"/>
    </xacro:mid360>

</robot>
